
/* General  */

body{
   font-family: Arial, Helvetica, sans-serif;
}

.rowgap{
    row-gap: 12px;
}

.bg-greydark{
   background-color: #1f1f1f;
}

.bg-grey{
   background-color: #bebcbb;
}

/* Button Custom */

.buttonround {
padding: 1.0em 1.5em;
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}
   
.buttonround:hover {
background-color: #2EE59D;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);
}
   
.buttonround:active {
transform: translateY(-1px);
}

.bt-bk-bk{
background-color: black;
color: white;
}

.bt-bk-wh{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

.bt-bk-or {
background-color: #cd3d0f;
color: white;
}

.bt-bk-bl {
background-color: blue;
color: white;
}

.bt-bk-gr {
   background-color: grey;
   color: blue;
   }

/* Content */

.img-logo {
    width: 110px;
  }

.gamethumb:hover{
   transform: translateY(-7px);
 }

.jumboone {
    margin-top: 90px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
 }

 .jumbotext {
    padding-top: 300px;
    padding-bottom: 70px;
 }

 .jumbotext h2{
    font-size: 2.1rem;
 }

.jumbotext p{
    font-weight: bold;
    font-size: 0.9rem;
 }

 .txt-present {
    padding-top: 60px;
 }

 .txt-present span{
    color:blue;
    font-size: 0.8rem;
 }

 .txt-present p{
    color:lightslategray;
    font-size: 0.9rem;
    font-weight: bold;
 }

 .accessorycard{
    color:lightslategray;
    font-size: 0.7rem;
    opacity: 40%;
    font-weight: bold;
    padding-bottom: 5px;
 }

 .accessorycard:hover{
    border-bottom: 0.5px solid blue;
      opacity:100%;
 }


 .jumbotwo{
   margin-top: 40px;
   background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
   background-position: center top;
}

.newgametext span{
   color: white;
   font-size: 0.9rem;
   font-weight: bold;
}

.marginsquare{
   margin: 5%;
}



